@layer reset, base, tokens, recipes, utilities;
.fc .fc-button-primary {
  background: none !important;
  border: none;
}
.fc .fc-daygrid-day-frame {
  color: white;
  background-color: rgba(255, 255, 255, 15%);
}
.fc-scrollgrid-sync-inner {
  color: white;
}

.fc-toolbar-title {
  color: white;
  font-weight: bold;
}
