@layer reset, base, tokens, recipes, utilities;
.fc .fc-button-primary {
  background: none !important;
  border: none;
}
.fc .fc-daygrid-day-frame {
  color: white;
  background-color: rgba(255, 255, 255, 15%);
}
.fc-scrollgrid-sync-inner {
  color: white;
}

.fc-toolbar-title {
  color: white;
  font-weight: bold;
}

.select__trigger {
  background-color: white;
}

.dialog__content {
  background: #27ae60;
  color: #fff;
  max-height: calc(100% - 64px);
  overflow-y: auto;
}
.dialog__description {
  color: #fff;
}
.dialog__close {
  padding: 5px;
}
.dialog__header {
  text-align: left;
}
input,
button {
  color: #353535;
}
.textarea {
  background: #fff;
  color: #353535;
  caret-color: #353535;
}
.button--variant_default {
  background: #b9e506;
  color: #353535;
  font-weight: bold;
}

body,
html,
#__next {
  /* background: #27ae60; */
  height: 100%;
}

@media screen and (min-width: 40rem) {
  .fc .fc-toolbar-title {
    font-size: 1.75em !important;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
  }
}
.fc .fc-toolbar-title {
  font-size: 1.25em;
}

.fc .fc-toolbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.fc-toolbar-chunk {
  display: flex;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5em;
}

.fc-toolbar-chunk .fc-cityName-button {
  border: 1px solid white;
}
.fc-toolbar-chunk .fc-cityName-button:hover {
  border: 1px solid white;
}
.fc-button {
  background-color: red;
}

.dialog__trigger {
  cursor: pointer;
}
.fc .fc-daygrid-event {
  display: block;
  width: 100%;

  .dialog__trigger {
    width: 100%;
    background: #b9e506;
    border-radius: 5px;
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 300px;
  min-width: 0;
}
